@mixin default-size {

  padding: 10px;
  border-radius: 32px;
}

.input {
  @include default-size;

  border: none;
  background-color: rgb(123 206 254);

  &:hover {

    box-shadow: 1px 1px 2px 0 rgb(55 128 225);
  }

  &:focus-visible {

    border: 1px solid rgb(11 78 164);
    box-shadow: 1px 1px 2px 0 rgb(55 128 225);
    outline: none;
  }
}

.button {
  @include default-size;

  min-width: 100px;

  border: none;
  background-color: rgb(15 236 115);
  transition: scale 0.5s;

  &:hover {

    box-shadow: 1px 1px 3px 0 rgb(16 216 230);
    cursor: pointer;
    scale: 1.2;
  }
}

.page {

  display: grid;
  padding: 40px 0;
  grid-template-columns: 1fr 1fr;
}

.visualization {

  max-width: 50%;
}

.functions {

  padding: 10px;
  border: 1px solid #000;
  background-color: rgb(236 241 160 / 37%);

  font-family: Inconsolata, Arial, sans-serif;
  white-space: pre-wrap;
}

.descriptions {

  padding: 10px;
  border: 1px solid #000;
  background-color: rgb(172 174 141 / 37%);
  grid-column: 1/3;
}

@media screen and (max-width: 1030px) {
  .page {

    grid-template-columns: 1fr;
  }

  .descriptions {

    grid-column: 1/2;
  }
}
